*{
    margin: 0;    
    box-sizing: border-box;
}
body{
     display: grid;
     min-height: 100vh;
    
     
}

.div1{
    background-color: white;
    height: 50px;
    text-align: center;
    font-size: x-large;
}

.div2{
    
    text-align: center;
    background-color: white;
    padding: 20px;
    
}
button{
    border-radius: 7px;
    font-family: cursive;

}
button:hover{
    background-color: black;
    color: white;
    box-shadow: 3px 3px 3px black;
    border-color: rgb(90, 90, 90);
}
h1{
    font-family: cursive;
}
h2{
    font-family: cursive;
}